<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main User Page</title>
</head>
<body>
    <section id="userArea">
        <h1 th:text ="'Welcome ' + ${username}"></h1>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </section>
    <section id="subscriptionArea">

    </section>
    <section id="queryArea">
        
    </section>
</body>
</html>