<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Registration Page</title>
</head>
<body>
    <div class="registerContainer">
        <h2>NEW USER REGISTRATION</h2>
        <form class="registerForm" action="register" method="post">
            <p class="errorMsg" th:text="${errorMsg}">Error Message</p>
            <div class="formGroup">
                <input type="email" class="formControl" id="email" name="email" value="" placeholder="Email" required>
            </div>
            <div class="formGroup">
                <input type="text" class="formControl" id="username" name="username" value="" placeholder="Username" required>
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" id="password" name="password" value="" placeholder="Password" required>
            </div>
            <div class="formGroup">
                <button type="submit" class="btnPrimary">Register</button>
            </div>
        </form>
        <button type="submit" class="btnPrimary"><a th:href="@{/}">Back</a></button>
    </div>
</body>
</html>